*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 65px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.logo{
    margin-left: 1rem;
    line-height: 65px;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.menu{
    line-height: 65px;
    margin-right: 0.5rem;
    color: #000;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu h3{
    font-size: 1rem;
}

.menu ul li ul{
    display: none;
    position: absolute;
    z-index: 1;
    top: 2.6rem;
}

.menu li:hover >ul{
    display:block;
}

/*  CONTACTO  */

.contact{
    margin-top: 1rem;
    margin-left: 4rem;
}

.contact h2{
    text-decoration: underline #e07590;
}

.contacto{
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.datos{
    text-align: center;
    margin-left: 10rem;
}

.direccion{
    margin-top: 1rem;
}

.datos h3{
    margin-bottom: 1rem;
}

.datos ul{
    list-style: none;
    font-size: 16px;
}

.datosNumeros i{
    color: #e07590;
}

.datos i{
    display: flex;
    justify-content: center;
}

/*  FORMULARIO  */

.formulario{
    margin-left: 10rem;
    margin-bottom: 1.5rem;
}

.fila1 input{
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.fila2 input{
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
    width: 440px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.fila3 textarea{
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
   width: 440px;
   height: 100px;
}

.botonContacto{
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #e07590;
    text-align: center;
    padding: 6.5px 0;
}

.botonContacto a{
    font-size: 1.5rem;
    line-height: 25px;
    text-decoration: none;
    color: #000;
}

/* MAPA */
.mapa{
    width: 100%;
    margin-bottom: 1.5rem;
}

/* FOOTER  */

footer{
    background-color:#6d6d6d;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerText{
    padding: 1rem;
    color: #fff;
}

.footerText i{
    margin-top: 1rem;
}

.footerText h3{
    font-size: 13px;
    font-weight: lighter;
    margin: 1rem 0;
}

.footerText ul{
    list-style: none;
}

.footerTextI{
    display: flex;
}

.footerTextI h3{
    margin-left: 1rem;
}

.footerIcon{
    font-size: 2rem;
}

.footerIcon ul{
    list-style: none;
    display: flex;
}

.footerIcon ul li{
    margin: 1rem;
}