*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 65px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.logo{
    margin-left: 1rem;
    line-height: 65px;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.menu{
    line-height: 65px;
    margin-right: 0.5rem;
    color: #000;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu h3{
    font-size: 1rem;
}

.menu ul li ul{
    display: none;
    position: absolute;
    z-index: 1;
    top: 2.6rem;
}

.menu li:hover >ul{
    display:block;
}

/*  FIN DE HEADER  */

/*  NOVEDADES */
/*  POLERA */

.polerasText{
    margin: 2rem 0;
    text-align: center;
}

.novedadesPoleras{
    margin-left: 1rem;
}

.contenedorPolerasImg{
    width: 100%;
    height: 650px;
    display: flex;
}

.imgPolera1{
    width: 650px;
    margin-right: 3rem;
    box-shadow: 3px 3px 5px 3px #999;
}

.imgPolera{
    margin-left: 4rem;
    width: 300px;
    box-shadow: 3px 3px 5px 3px #999;
}

.fila1{
    margin-bottom: 2rem;
}

.fila1 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.fila2 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.imgZapatilla1{
    object-fit: cover;
    width: 650px;
    height: 650px;
    margin-left: 7rem;
    box-shadow: 3px 3px 5px 3px #999;
}

.imgZapatilla{
    margin-left: 1rem;
    width: 300px;
    box-shadow: 3px 3px 5px 3px #999;
}

/* FOOTER  */

footer{
    margin-top: 1.5rem;
    background-color:#6d6d6d;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerText{
    padding: 1rem;
    color: #fff;
}

.footerText i{
    margin-top: 1rem;
}

.footerText h3{
    font-size: 13px;
    font-weight: lighter;
    margin: 1rem 0;
}

.footerText ul{
    list-style: none;
}

.footerTextI{
    display: flex;
}

.footerTextI h3{
    margin-left: 1rem;
}

.footerIcon{
    font-size: 2rem;
}

.footerIcon ul{
    list-style: none;
    display: flex;
}

.footerIcon ul li{
    margin: 1rem;
}

