*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

header{
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.logo{
    
    margin-left: 1rem;
    line-height: 65px;
}

.menu{
    
    line-height: 65px;
    margin-right: 0.5rem;
    color: #000;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu h3{
    font-size: 1rem;
}

.menu ul li ul{
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 1;
    top: 2.6rem;
}

.menu li:hover >ul{
    display:block;
}

/*--PORTADA--*/

.portada{
    position: relative;
    width: 100%;
}

.portada ul{
    display: flex;
    width: 400%;
    animation: portada 12s infinite alternate;
}

.portada li{
    width: 100%;
    list-style: none;
}

.imgPortada{
    width: 100%;
}

@keyframes portada{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@keyframes texto{
    0%{color: #fff;}
    20%{color: #fff;}
    
    25%{color: #000;}
    45%{color: #000;}

    50%{color: #000;}
    70%{color: #000;}

    75%{color: #fff;}
    100%{color: #fff;}
}

.imgText{
    position: absolute;
    top: 25%;
    margin-left: 1rem;
    color: #fff;
    font-size: 2rem;
    animation: texto 12s infinite alternate;
}

.imgText a{
    position: absolute;
    text-decoration: none;
    color: #000;
    background-color: coral;
    padding: 1rem;
}



